{% extends "layout.html" %}
{% from "quickform_macro.html" import quickform %}

{% block body %}
<h1 class="text-info">All users</h1>
{% if current_user.is_authenticated and current_user.has_role("ADMIN") %}
  <p>
    <form class="form form-horizontal" method="POST">
        {{ quickform(form) }}
        <input type="hidden" name="create_dummy_user" value="create_dummy_user">
        <input class="btn btn-primary" type="submit" value="Create new dummy user" />
    </form>
  </p>
{% endif %}

{% if people %}
  <table class="table table-sm">
    <tr>
    {% if current_user.is_authenticated and current_user.has_role("EDITOR") %}
      <th>Edit</th>
    {% endif %}
      <th>Name</th>
      <th>Username</th>
      <th>Aliases</th>
    </tr>
    {% for person in people %}
    <tr class="pb-0 mb-0">
      {% if current_user.is_authenticated and current_user.has_role("EDITOR") %}
      <td class="pb-0 mb-0">
          <a href="{{ url_for('person_edit', user_id=person.id) }}">Edit</a>
          
          <form method="POST">
            <input type="hidden" name="delete" value="delete">
            <input type="hidden" name="id" value="{{ person.id }}">
            <input class="btn text-danger m-0 p-0 bg-transparent"
              type="submit"
              value="&times;">
          </form>
      </td>
      {% endif %}
      <td class="pb-0 mb-0">
        <a href="{{ url_for('show_tasks', user_id=person.id) }}">{{ person.name }}</a>
      </td>
      <td class="pb-0 mb-0">
        {{ person.username }}
      </td>
      <td class="pb-0 mb-0">
          <ul>
            {% for name in person.names %}
            <li>{{ name.name }}</li>
            {% endfor %}
          </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<p>
  No people in the system
</p>
{% endif %}
{% endblock %}