{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Person</th>
      <th>Account</th>
      <th>Names</th>
    </tr>
    {% for person in people %}
    <tr>
      <td>{{ person.name }}</td>
      <td>{{ person.account }}</td>
      <td>
          <table>
              <ul>
                {% for name in person.names %}
                <li>{{ name.name }}</li>
                {% endfor %}
              </ul>
          </table>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}