{% extends "layout.html" %}

{% block body %}
<h1>All users</h1>
{% if people %}
  <table class="table table-sm">
    <tr>
    {% if current_user.editor %}
      <th>Edit</th>
    {% endif %}
      <th>Name</th>
      <th>Username</th>
      <th>Aliases</th>
    </tr>
    {% for person in people %}
    <tr>
      {% if current_user.editor %}
      <td>
          <a href="{{ url_for('person_edit', user_id=person.id) }}">Edit</a>
      </td>
      {% endif %}
      <td><a href="{{ url_for('show_tasks', user_id=person.id) }}">{{ person.name }}</a></td>
      <td>{{ person.username }}</td>
      <td>
          <ul>
            {% for name in person.names %}
            <li>{{ name.name }}</li>
            {% endfor %}
          </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
<p>
  No people in the system
</p>
{% endif %}
{% endblock %}