{% extends "layout.html" %}
{% from "articles/articlecard_macro.html" import articlecard %}

{% block body %}
<h1>{{ posessive_form }} tasks</h1>
<p>Name in system: {{ system_name }}</p>


<div class="row m-1">
        {% if articles_writing %}
            <div class="col p-1" style="max-width: 20%;">
                <h2>{{ person_is }} writing</h2>
                <div class="accordion" id="writing">
                    {% for article in articles_writing %}
                        {{ articlecard(article, current_user, synopsis, "writing",
                            open = (True if open|int == article.id else False)) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if articles_editing %}
            <div class="col p-1" style="max-width: 20%;">
                <h2>{{ person_is }} editing</h2>
                <div class="accordion" id="editing">
                    {% for article in articles_editing %}
                        {{ articlecard(article, current_user, synopsis, "editing",
                            open = (True if open|int == article.id else False)) }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if not articles_writing and not articles_editing %}
            <div class="col">
                <h2> No tasks </h2>
            </div>
        {% endif %}
{% endblock %}