{% macro quickform(form) -%}
<div class="form-group">
    {% for field in form %}
        {% if field.type == "BooleanField" %}
            <dt class="p-0 m-0">{{ field }} {{ field.label(class="ml-1 m-0") }}</dt>
        {% else %}
            <dt class="p-0 m-0"> {{ field.label(class="m-0") }} {% if field.flags.required %}<span class="text-danger">*</span>{% endif %}
                <dd class="p-0 m-0">
                    {% if field.flags.bigger_input_field %}
                        <textarea type="input" name="{{ field.name }}" id="{{ field.id }}" rows="3">{{ field.data }}</textarea>
                    {% else %}
                        {{ field(class="mb-2") }}
                    {% endif %}

                    {% if field.errors %}
                        <ul class="errors txt-danger p-0 m-1">
                            {% for error in field.errors %}
                                <li class="text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </dd>
            </dt>
        {% endif %}
    {% endfor %}
</div>

{%- endmacro %}