{% extends "layout.html" %}

{% block body %}
<span class="h2 text-info">
    Language consultant
</span>
<p>
    <span class="h7 text-info">
        Articles waiting for language consultation
    </span>
</p>


<div class="row m-0">
        {% if articles|length > 0 %}
            <div class="col col-md-3 col-xs-12 p-1">
                <div class="h3 text-info">Articles waiting</div>
                {% for article in articles %}
                <div class="row m-0">
                    <form method="POST">
                        <input type="hidden" name="grab" value="{{ article.id }}">
                        <div class="h4 text-dark mb-0">
                            {{ article.name}}
                            
                            <button class="badge border-0 badge-primary text-white"
                                type="submit"
                                value="submit">

                                Take
                            </button>
                        </div>
                    </form>
                </div>  
                {% endfor %}
            </div>
        {% endif %}

        {% if my_articles|length > 0 %}
            <div class="col col-md-3 col-xs-12 p-1">
                <div class="h3 text-info">My articles in progress</div>
                {% for article in my_articles %}
                    <div class="row m-0">
                        <form method="POST">
                            <input type="hidden" name="mark_ready" value="{{ article.id }}">
                            <div class="h4 text-dark mb-0">
                                {{ article.name}}
                                
                                <button class="badge border-0 badge-success text-white"
                                    type="submit"
                                    value="submit">
                                    Ready
                                </button>
                            </div>
                        </form>
                    </div>  
                {% endfor %}
            </div>
        {% endif %}

        {% if articles|length == 0 and my_articles|length == 0 %}
            <div class="col p-0 m-0">
                    <span class="text-dark h4"> No articles </span>
            </div>
        {% endif %}
{% endblock %}