{% macro articlecard(article, current_user, synopsis, accordion_name, open=false) -%}
{% from "articles/progress_bar_macro.html" import progressbar %}

<div class="card rounded-0">
    <div class="card-header text-left p-0 m-0"
        id="heading{{ article.id }}"
        data-toggle="collapse"
        data-target="#collapse{{ article.id }}"
        {% if open %}
            aria-expanded="true"
        {% endif %}
        aria-controls="collapse{{ article.id }}">

        <div class="btn btn-light p-0 text-left text-truncate rounded-0"
            style="width:100%;">
            <div class="btn-group p-0 m-0 text-truncate" style="width:100%;">
                <div class="btn pl-1 pr-0 text-left font-weight-bold text-truncate" style="width:100%;">
                    {{ article.name }}
                </div>

                <div class="btn pl-1 pr-1 text-right">
                    <div class="badge badge-pill badge-success"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="So far does not have a meaning.">

                        Pics
                    </div>
                </div>
                
                <div class="btn pl-0 pr-1 text-right">
                    &#9776;
                </div>
            </div>

        </div>
        
    </div>
    {% if open %}
        <div class="collapse show"
    {% else %}
        <div class="collapse"
    {% endif %}
        id="collapse{{ article.id }}"
        aria-labelledby="heading{{ article.id }}"
        data-parent="#{{ accordion_name }}">

        <div class="card-body px-1 pt-1 pb-0">   
            <form method="POST">
                <input type="hidden" name="article_id" value="{{ article.id }}">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item p-1">
                        <table style="width:100%;">
                            <tr>
                                <td class="py-0">
                                    Writer: {{ article.writer }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ progressbar(article.writing_status) }}
                                </td>
                            </tr>
                            {% if current_user.editor %}
                                <tr>
                                    <td>
                                        <input class="slider w-100"
                                            type="range"
                                            min="0"
                                            max="100"
                                            value="{{ article.writing_status }}"
                                            class="slider"
                                            name="writing_status">
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </li>
                    <li class="list-group-item border-bottom p-1">
                        <table style="width:100%;">
                            <tr>
                                <td class="py-0">
                                    Editor: {{ article.editor_in_charge }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ progressbar(article.editing_status) }}
                                </td>
                            </tr>
                            {% if current_user.editor %}
                            <tr>
                                <td class="pd-0 md-0">
                                    <input class="slider pd-0 w-100"
                                        type="range"
                                        min="0"
                                        max="100"
                                        value="{{ article.editing_status }}"
                                        class="slider"
                                        name="editing_status">
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </li>
                    {% if current_user.editor %}
                        <li class="list-group-item text-center px-2 border-bottom border-top-0 mt-0 pt-0">
                            <input class="btn btn-primary"
                                type="submit"
                                name="update_status"
                                value="Update status">
                        </li>
                    {% endif %}
                </ul>
            </form>
        
            <p class="card-text">
                Synopsis: {{ synopsis }}
            </p>

            {% if current_user.editor %}
                <div class="card-footer bg-white p-0">
                    <div class="btn-group p-0 m-0" style="width:100%;">
                        {% if current_user.admin %}
                            <form method="POST" name="deleteform">
                                <input type="hidden" name="article_id" value="{{ article.id }}">
                                <button class="btn bg-transparent text-danger p-0 m-0"
                                    type="submit"
                                    name="delete"
                                    value="submit">

                                    <div class="btn-group">
                                        <div class="btn btn-lg p-0">
                                            &times;
                                        </div>
                                        <div class="btn btn-sm text-left p-0 mx-1 mt-1">
                                        delete
                                        </div>
                                    </div>
                                </button>
                            </form>
                        {% endif %}

                        <span style="width:100%">

                        </span>
                        <a class="btn btn-default text-right p-0 m-0"
                            href="{{ url_for('article_update', article_id=article.id) }}"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Edit article">
    
                            <div class="btn-group p-0 m-0">
    
                                <div class="btn btn-lg p-0">
                                    &#9998;
                                </div>
                                <div class="btn btn-sm p-0 mx-1 mt-1">
                                    edit
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}