{% macro articlelist(articles) -%}
<table>
    <tr>
      <th>Article</th>
      <th>Writer</th>
      <th>Editor-in-charge</th>
      <th></th>
    </tr>
    {% for article in articles %}
    {% if article.ready %}
    <tr style="background-color:green">
    {% else %}
    <tr style="background-color:red">
    {% endif %}
      <td>{{ article.name }}</td>
      <td>{{ article.writer }}</td>
      <td>{{ article.editor_in_charge }}</td>
      <td>
      {% if not article.ready %}
          <form method="POST" action="{{ url_for('articles_set_ready', article_id=article.id) }}">
            <input type="submit" value="Mark as ready"/>    
          </form>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
{%- endmacro %}