{% macro articlecard(article, current_user, synopsis, accordion_name) -%}
{% from "articles/progress_bar_macro.html" import progressbar %}

<div class="card">
    <div class="card-header btn text-left p-1"
        id="heading{{ article.id }}"
        data-toggle="collapse"
        data-target="#collapse{{ article.id }}"
        aria-controls="collapse{{ article.id }}">
        
        <h5 class="mb-0">  
            {{ article.name }}
        </h5> 
    </div>
    <div class="collapse"
        id="collapse{{ article.id }}"
        aria-labelledby="heading{{ article.id }}"
        data-parent="#{{ accordion_name }}">

        <div class="card-body">   
            <form method="POST" action="{{ url_for('update_status', article_id=article.id) }}">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item">
                        Writer: {{ article.writer }} <br>
                        {{ progressbar(article.writing_status) }}

                        {% if current_user.editor %}
                            <br><input class="slider rounded w-100"
                                    width="100%"
                                    type="range"
                                    min="0"
                                    max="100"
                                    value="{{ article.writing_status }}"
                                    class="slider"
                                    name="writing_status">
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        Editor: {{ article.editor_in_charge }} <br>
                        {{ progressbar(article.editing_status) }}
                        
                        {% if current_user.editor %}
                            <br><input class="slider w-100"
                                    type="range"
                                    min="0"
                                    max="100"
                                    value="{{ article.editing_status }}"
                                    class="slider"
                                    name="editing_status">
                        {% endif %}
                    </li>
                    {% if current_user.editor %}
                        <li class="list-group-item">
                            <input class="btn btn-primary"
                                type="submit"
                                value="Update status">
                        </li>
                    {% endif %}
                </ul>
            </form>
        
            <p class="card-text">
                Synopsis: {{ synopsis }}
            </p>

            {% if current_user.editor %}
                <a class="btn btn-link btn-primary"
                href="{{ url_for('article_update', article_id=article.id) }}"
                role="button">
                    Edit article info
                </a>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}