{% macro articlelist(articles, current_user) -%}
{% from "articles/progress_bar_macro.html" import progressbar %}
<table class="table table-hover table-sm">
    <tr>
      <th>Issue</th>
      <th>Article</th>
      <th>Writer</th>
      <th>Editor-in-charge</th>
      {% if current_user.editor %}
      <th></th>
      {% endif %}
      {% if current_user and current_user.admin %}
      <th></th>
      {% endif %}
    </tr>
    {% for article in articles %}
    {% if article.ready %}
    <tr class="table-success">
    {% else %}
    <tr class="table-danger">
    {% endif %}
      <td>
      {% if not article.issue %}
      
        {{ article.issue }}
      
      {% else %}
        <a href="{{ url_for('articles_in_issue', issue=article.issue) }}">{{ article.issue }}</a>
      {% endif %}
      </td>

      <td>
        <a href="{{ url_for('show_article', article_id=article.id) }}">{{ article.name }}</a>
      </td>

      <form method="POST" action="{{ url_for('update_status', article_id=article.id) }}">
      <td>
      {% if article.writer is not none %}
        <a href="{{ url_for('show_tasks', name=article.writer) }}">{{ article.writer }}</a>
      {% else %}
      <br>
      {% endif %}
      {{ progressbar(article.writing_status) }}<br>
      {% if current_user.admin or current_user.id == article.writer_id|int %}
      <input type="range" min="0" max="100" value="{{ article.writing_status }}" class="slider" name="writing_status">
      {% endif %}
      </td>

      <td>
      {% if article.editor_in_charge is not none %}
      <a href="{{ url_for('show_tasks', name=article.editor_in_charge) }}">{{ article.editor_in_charge }}</a>
      {% else %}
      <br>
      {% endif %}
      {{ progressbar(article.editing_status) }}<br>
      {% if current_user.admin or current_user.id == article.editor_id|int %}
      <input type="range" min="0" max="100" value="{{ article.editing_status }}" class="slider" name="editing_status">
      {% endif %}
      </td>

      {% if current_user.editor %}
      <td>
      {% if not article.ready %}

      {% if not (article.editing_status|int == 100 and article.writing_status|int == 100) %}
      <input class="btn btn-primary" type="submit" value="Update status">
      </form>
      {% else %}
      </form>
          <form method="POST" action="{{ url_for('articles_set_ready', article_id=article.id) }}">
            <input class="btn btn-success" type="submit" value="Mark as ready" />   
          </form>
      {% endif %}
      {% endif %}
      </td>
      {% endif %}
      {% if current_user and current_user.admin %}
      <td>
        <form method="POST" action="{{ url_for('delete_article', article_id=article.id) }}">
          <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
      </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{%- endmacro %}