{% extends "layout.html" %}
{% from "articles/articlecard_macro.html" import articlecard %}
{% from "pictures/picturecard_macro.html" import picturecard %}

{% block body %}
<p>
{% if article.issue %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_in_issue', issue=article.issue) }}" role="button">Show all articles in {{ article.issue }}</a>
{% else %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_orphans') }}" role="button">Show all orphan articles</a>
{% endif %}
</p>

<h1 class="text-center text-info">{{ article.name }}</h1>
<div class="row">
    <div class="col col-md-6 col-sm-12">
        {{ articlecard(article=article, current_user=current_user, open=True) }}
    </div>
    {% for picture in pictures %}
        <div class="col col-md-6 col-sm-12">
            {{ picturecard(picture=picture, current_user=current_user) }}
        </div>
    {% endfor %}
</div>


{% endblock %}