{% macro articlecard(article, current_user, synopsis, accordion_name) -%}
{% from "articles/progress_bar_macro.html" import progressbar %}

<div class="card rounded-0">
    <div class="card-header text-left p-0 m-0"
        id="heading{{ article.id }}"
        data-toggle="collapse"
        data-target="#collapse{{ article.id }}"
        aria-controls="collapse{{ article.id }}">

        <div class="btn btn-light p-0 text-left text-truncate rounded-0"
            style="width:100%;">
            <div class="btn-group p-0 m-0 text-truncate" style="width:100%;">
                <div class="btn pl-1 pr-0 text-left text-truncate" style="width:100%;">
                    {{ article.name }}
                </div>

                <div class="btn pl-1 pr-1 text-right">
                    <div class="badge badge-pill badge-success"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="So far does not have a meaning.">

                        Pics
                    </div>
                </div>
                
                <div class="btn pl-0 pr-1 text-right">
                    &#9776;
                </div>
            </div>

        </div>
        
    </div>
    <div class="collapse"
        id="collapse{{ article.id }}"
        aria-labelledby="heading{{ article.id }}"
        data-parent="#{{ accordion_name }}">

        <div class="card-body p-1">   
            <form method="POST" action="{{ url_for('update_status', article_id=article.id) }}">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item p-1">
                        <table style="width:100%;">
                            <tr>
                                <td class="py-0">
                                    Writer: {{ article.writer }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ progressbar(article.writing_status) }}
                                </td>
                            </tr>
                            {% if current_user.editor %}
                                <tr>
                                    <td>
                                        <input class="slider w-100"
                                            type="range"
                                            min="0"
                                            max="100"
                                            value="{{ article.editing_status }}"
                                            class="slider"
                                            name="editing_status">
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </li>
                    <li class="list-group-item p-1">
                        <table style="width:100%;">
                            <tr>
                                <td class="py-0">
                                    Editor: {{ article.editor_in_charge }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ progressbar(article.editing_status) }}
                                </td>
                            </tr>
                            {% if current_user.editor %}
                            <tr>
                                <td>
                                    <input class="slider w-100"
                                        type="range"
                                        min="0"
                                        max="100"
                                        value="{{ article.editing_status }}"
                                        class="slider"
                                        name="editing_status">
                                </td>
                            </tr>
                            {% endif %}
                        </table>
                    </li>
                    {% if current_user.editor %}
                        <li class="list-group-item text-center p-2">
                            <input class="btn btn-primary"
                                type="submit"
                                value="Update sliders">
                        </li>
                    {% endif %}
                </ul>
            </form>
        
            <p class="card-text">
                Synopsis: {{ synopsis }}
            </p>

            {% if current_user.editor %}
                <div class="card-footer text-right p-0">
                    <a class="btn btn-lg p-0"
                        href="{{ url_for('article_update', article_id=article.id) }}"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Edit article">
                        
                        &#9998;
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{%- endmacro %}