{% extends "layout.html" %}
{% from "articles/articlecard_macro.html" import articlecard %}

{% block body %}

<div class="lead text-info text-center m-0">
    {{ topic }}
    {% if current_user and current_user.editor %}
        {% if issue %}
            <a class="btn btn-sm btn-primary mb-1 ml-3"
                href="{{ url_for('articles_form_for_issue', issue=issue) }}">
            
                Add an article
            </a>
        {% else %}
            <a class="btn btn-sm btn-primary mb-1 ml-3" href="{{ url_for('articles_form')}}">
                Add an article
            </a>
        {% endif %}
    {% endif %}
    </div>
<hr class="style1 m-0"></hr>

<div class="row">
    <div class="col col-xs-12 p-1">
        <h2 class="text-info">Planned</h2>
        <div class="accordion" id="planned">
            {% for article in planned_articles %}
                {{ articlecard(article, current_user, "planned",
                    open = (True if open and open|int == article.id else False)) }}
            {% endfor %}
        </div>
    </div>
    <div class="col col-xs-12 p-1">
        <h2 class="text-info">Draft</h2>
        <div class="accordion" id="draft">
            {% for article in draft_articles %}
                {{ articlecard(article, current_user, "draft",
                    open = (True if open and open|int == article.id else False)) }}
            {% endfor %}
        </div>
    </div>
    <div class="col col-xs-12 p-1">
        <h2 class="text-info">Written</h2>
        <div class="accordion" id="written">
            {% for article in written_articles %}
                {{ articlecard(article, current_user, "written",
                    open = (True if open and open|int == article.id else False)) }}
            {% endfor %}
        </div>
    </div>
    <div class="col col-xs-12 p-1">
        <h2 class="text-info">Edited</h2>
        <div class="accordion" id="edited">
            {% for article in edited_articles %}
                {{ articlecard(article, current_user, "edited",
                    open = (True if open and open|int == article.id else False)) }}
            {% endfor %}
        </div>
    </div>
    <div class="col col-xs-12 p-1">
        <h2 class="text-info">Finished</h2>
        <div class="accordion" id="finished">
            {% for article in finished_articles %}
                {{ articlecard(article, current_user, "finished",
                    open = (True if open and open|int == article.id else False)) }}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}