{% extends "layout.html" %}
{% from "articles/articlecard_macro.html" import articlecard %}

{% block body %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}

{% if issue and current_user and current_user.editor %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_create_for_issue', issue=issue) }}" role="button">Add an article</a>
{% elif current_user and current_user.editor %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_form') }}" role="button">Add an article</a>
{% else %}
{% endif %}

{% if articles %}


<div class="accordion" id="accordionList">
{% for article in articles %}
{{ articlecard(article, current_user, synopsis, view_as_editor) }}
{% endfor %}
</div>
{% else %}
<p>
  No articles in the system
</p>
{% endif %}
{% endblock %}