{% extends "layout.html" %}
{% from "articles/articlelist_macro.html" import articlelist %}

{% block body %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}

{% if issue and current_user and current_user.editor %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_create_for_issue', issue=issue) }}" role="button">Add an article</a>
{% elif current_user and current_user.editor %}
<a class="btn btn-link btn-primary" href="{{ url_for('articles_form') }}" role="button">Add an article</a>
{% else %}
{% endif %}

{% if articles %}
<p>
  {{ articlelist(current_user=current_user, articles=articles, show_issue=True) }}
</p>
{% else %}
<p>
  No articles in the system
</p>
{% endif %}
{% endblock %}