{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% if updating_article %}
<h1>Change article information</h1>
{% else %}
<h1>Create a new article</h1>
{% endif %}
<div class="container">
{% if updating_article %}
<form class="form form-horizontal" role="form" method="POST" action="{{ url_for('article_update', article_id=article_id) }}">
{% else %}
<form class="form form-horizontal" role="form" method="POST" action="{{ url_for('articles_create') }}">
{% endif %}
    <dl>
        {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('lg', 2, 4)) }}
        {% if updating_article %}
        <input class="btn btn-primary" type="submit" value="Update article" />
        {% else %}
        <input class="btn btn-primary" type="submit" value="Add a new article" />
        {% endif %}
    </dl>
</form>
</div>
{% endblock %}
